@tailwind base;
@tailwind components;
@tailwind utilities;

/* Autofill Fix */
input:-webkit-autofill {
    outline: none;
  background-color: #1f2937 !important; /* Match your manual fill background */
  color: #f3f4f6 !important; /* Match your text color */
  box-shadow: 0 0 0px 1000px #1f2937 inset !important; /* Override default yellow */
  -webkit-text-fill-color: #f3f4f6 !important; /* Text color for autofill */
  transition: background-color 5000s ease-in-out 0s; /* Smooth transition */
}

/* Target the main scrollable container */
html, body {
  overflow: hidden; /* Disable default scroll */
}

#root {
  overflow-y: auto; /* Allow scrolling only within the app */
  max-height: 100vh; /* Prevent overflow beyond viewport */
}

/* Completely hide scrollbar but allow scrolling */
#root::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

#root {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.2s ease-out forwards;
}
